body.login {
    background: linear-gradient(rgba($cachet-icons, 0.2), rgba($cachet-icons, 0.3)), $cachet-green;

    .form-bg {
        padding:20px;
        border-radius:10px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 320px;
        height: 280px;
    }

    .logo {
        margin-bottom: 10px;
    }

    p {
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }

    .login-input {
        height: 45px;
    }

    i {
        font-size: 22px;
    }

    .btn {
        &.btn-white {
            background-color: white;
            transition: background-color 0.5s ease;

            &.btn-trans {
                background-color: transparent;
                border: 1px solid white;
                color: white;

                &:hover {
                    background-color: white;
                    color: $cachet-green;
                }
            }
        }
    }
}
