$green: #2ECC71;
$dark-green: darken($green, 10%);

$blue: #3498db;
$dark-blue: darken($blue, 10%);

$red: #ff6f6f;
$dark-red: darken($red, 10%);

$teal: #0dccc0;
$dark-teal: darken($teal, 10%);

$yellow: #F7CA18;
$dark-yellow: darken($yellow, 10%);

$pink: #b23f73;
$dark-pink: darken($pink, 10%);

$grey: #ecf0f1;
$dark-grey: darken($grey, 10%);

$orange: #FF8800;
$dark-orange: darken($orange, 10%);
