body.status-page {
    font-family: $base-font-family;
    background-color: #F0F3F4;
    color: #333333;
    font-size: 1.4em;
    font-weight: $base-font-weight;
    -webkit-font-smoothing: antialiased;

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: 20px;
    }

    .tooltip {
        .tooltip-inner {
            padding: 8px 12px;
            font-size: 14px;
        }
    }

    .help-icon {
        cursor: help;
    }

    .text-success, .text-component-1 {
        color: $cachet_green;
    }

    .text-info, .text-component-2 {
        color: $cachet_blue;
    }

    .text-alert, .text-component-3 {
        color: $cachet_yellow;
    }

    .text-danger, .text-component-4 {
        color: $cachet_red;
    }

    .container {
        max-width: 960px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .page-header {
        margin-top: 10px;
    }

    .app-banner {
        margin-bottom: 30px;
    }

    .about-app {
        margin-top: 40px;
        margin-bottom: 40px;
        p {
            font-size: 1.2em;
        }
    }

    .alert {
        border-radius: 0;
        font-size: 1.2em;
        &.alert-success {
            background-color: $cachet_green;
            border-color: $cachet_dark-green;
            color: white;
        }

        &.alert-info {
            background: $cachet_blue;
            border-color: $cachet_dark-blue;
            color: #FFF;
        }

        &.alert-danger {
            background: $cachet_red;
            border-color: $cachet_dark-red;
            color: #FFF;
        }
    }

    .timeline {
        .content-wrapper {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        h3 {
            margin-top: 30px;
            margin-bottom: 40px;
            font-size: 22px;
            small {
                margin-left: 15px;
            }
        }

        .panel {
            .panel-body {
                h1 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 2em;
                }
                h2 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.8em;
                }
                h3 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.6em;
                }
                h4 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.4em;
                }
                h5 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.2em;
                }
                p {
                    margin: 0;
                }
            }
        }

        .moment {
            width: 100%;
            padding-bottom: 10px;
            position: relative;
            &.first {
                &:before {
                    height: 130%;
                    top: -20px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 23px;
                    top: -20px;
                    width: 7px;
                    height: 7px;
                    background: $cachet_gray_light;
                    border-radius: 50%;
                }
            }
            &:before {
                content: '';
                position: absolute;
                left: 26px;
                top: 5px;
                width: 2px;
                height: 100%;
                background: #7266BA;
            }
            .status-icon {
                background: #fff;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid #e8e8e8;
                position: absolute;
                left: 25px;
                top: 14px;
                .icon {
                    position: absolute;
                    top: 7px;
                    left: 11px;

                    &.ion-alert {
                        left: 15px;
                    }
                }
                &.status-0 {
                    color: $cachet_pink;
                }
                &.status-1 {
                    color: $cachet_orange;
                }
                &.status-2 {
                    color: $cachet_yellow;
                }
                &.status-3 {
                    color: $cachet_blue;
                }
                &.status-4 {
                    color: $cachet_green;
                }
            }
            &.last:before {
                background: #fff;
            }
            .panel {
                margin: 0;
                border-radius: 2px;

                &.panel-message {
                    border: 1px solid #e8e8e8;
                    .date {
                        color: darken(#c7c7c7, 20%);
                    }

                    &:before {
                        position: absolute;
                        top: 16px;
                        left: 1px;
                        display: inline-block;
                        border-top: 15px solid transparent;
                        border-left: 0 solid #e8e8e8;
                        border-right: 15px solid #e8e8e8;
                        border-bottom: 15px solid transparent;
                        content: " ";
                    }

                    &:after {
                        position: absolute;
                        top: 17px;
                        left: 2px;
                        display: inline-block;
                        border-top: 14px solid transparent;
                        border-left: 0 solid #fff;
                        border-right: 14px solid #fff;
                        border-bottom: 14px solid transparent;
                        content: " ";
                    }
                }

                .panel-body {
                    border-top: 1px solid #eee;
                    p {
                        margin: 0;
                        font-size: 1em;
                        // font-weight: normal;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .timeline .moment .content {
            width: 100%;
        }
    }

    .list-group {
        margin-bottom: 20px;
        padding-left: 0;
        border-radius: 0;

        .list-group-item {
            border-radius: 0;
            background-color: #ffffff;
            border: 1px solid $cachet_gray_light;
            font-size: 1.1em;
            padding: 15px 15px;

            a {
                font-weight: 400;
            }

            h4 {
                margin: 0;
                font-weight: 400;
                max-width: 90%;
            }

            p, time {
                margin-bottom: 0;
                line-height: 1.3em;
            }

            &.group-name {
                font-size: 1.2em;
                background-color: $cachet_gray_light;
                padding: {
                    top: 0.6em;
                    bottom: 0.6em;
                }
            }

            &.sub-component {
                &:before {
                    @extend .ion;
                    content: $ionicon-var-ios-plus-outline;
                    margin-right: 10px;
                }
            }

            &.break {
                padding: 1px;
                background-color: $cachet_gray_light;
            }
        }

        &.components {
            margin-bottom: 30px;
            p {
                margin-bottom: 10px;
            }
            .badge {
                color: transparent;
            }
        }
    }

    footer.footer {
        padding-top: 40px;
        padding-bottom: 40px;
        color: #777;
        text-align: center;
        border-top: 1px solid $cachet_gray_light;
        background-color: lighten($cachet_gray_light, 5%);
    }
}
