@import "palette";

@import "modules/bootstrap";

html, body {
    height: 100%;
}

@import "helpers";

// Module overrides
@import "modules/tabs";
@import "modules/forms";
@import "modules/well";

// Styles for partials
@import "partials/base";
@import "partials/wrapper";
@import "partials/navbar";
@import "partials/sidebar";
@import "partials/content";

// Styles for specific page
@import "pages/login";
@import "pages/setup";

// Styles for plugins
@import "plugins/messenger";
@import "plugins/animate";

// Status Page will need to override certain styles.
@import "status-page";

// Error pages can have their own overrides.
@import "errors";
