@import "partials/variables";

html, body {
	height: 100%;
}

@import "modules/tabs";

@import "partials/base";
@import "partials/wrapper";
@import "partials/header";
@import "partials/sidebar";
@import "partials/content";
