# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
.env.*.php
.env.php
config.codekit
!.env.heroku.php
!.env.example.php

# Assets development
/node_modules
/app/assets/bower_components
public/css/
public/js/

# Packages
npm-debug.log
.vagrant/
tests/_output/*
