# Laravel
/bootstrap/compiled.php
/vendor
/workbench

# Configuration
.env.*.php
.env.php
config.codekit

# Assets development
/node_modules
/app/assets/bower_components
public/css/
public/js/

# Packages
npm-debug.log
.vagrant/
tests/_output/*

# Heroku
!.env.heroku.php
