/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
package-lock.json
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
phpcs.xml
phpunit.xml
sftp-config.json
