* text=auto

/docs export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/CONTRIBUTING.md export-ignore
/INSTALL.md export-ignore
/README.md export-ignore
