language: php

php:
  - 5.5.9
  - 5.5
  - 5.6
  - 7.0
  - 7.1

sudo: false

before_install:
  - cp .env.example .env
  - if [[ $TRAVIS_PHP_VERSION != 7.1 ]] ; then phpenv config-rm xdebug.ini; fi

install: travis_retry composer install --no-interaction --no-scripts --prefer-source --no-suggest

script: vendor/bin/phpunit
