language: php

php:
	- 5.4
	- 5.5
	- 5.6

matrix:
	fast_finish: true

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - ./vendor/bin/phpunit --verbose --coverage-text
