language: php
dist: trusty
sudo: false
cache: bundler

branches:
  except:
  - l10n_2.4

php:
  - 7.1
  - 7.2

before_install:
  - cp .env.example .env
  - phpenv config-rm xdebug.ini

jobs:
  include:
    - stage: install dependencies
      install: travis_retry composer install --no-interaction --no-suggest
      php: 7.2
    - stage: test
      script: vendor/bin/phpunit
      php: 7.2
    - stage: test
      script: vendor/bin/phpunit
      php: 7.1
    - stage: coverage
      script:
        - vendor/bin/phpunit --coverage-clover build/logs/clover.xml;
        - wget https://scrutinizer-ci.com/ocular.phar
        - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
      php: 7.1
