footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: $cachet-base-medium;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;

    a {
        font-weight: 700;
    }

    .container {
        height: 60px;
        padding: 30px 0 60px 0;
        text-align: center;
        border-top: 1px solid $cachet_gray_light;
    }
}
