footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: $cachet-gray-darker;
    font-size: 13px;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    .container {
        height: 60px;
        padding: 30px 0 60px 0;
        text-align: center;
        border-top: 1px solid $cachet_gray_light;
    }
}
