body, html {
    height: 100%
}

body {
    background-color: $background;
    font-family: $family-primary;
    font-size: $size-6;
    line-height: 175%;
    padding-top: 20px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background-color: $grey;
    color: #fff
}
::-moz-selection {
    background-color: $grey;
    color: #fff
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-color: #DFDEDF;

    &.hr--half {
        width: 50%;
    }
    &.smart {
        margin-top: 60px;
        margin-bottom: 60px;

        &:after {
            font-family: Ionicons;
            font-size: 30px;
            color: rgba(0, 0, 0, 0.2);
            content: "\f26e";
            display: block;
            height: 30px;
            position: relative;
            top: -10px;
            left: 0;
            width: 10%;
            min-width: 20%;
            margin: 0 auto;
            text-align: center;
            background-color: #F1F1F1;
        }
    }
}

// Wrapper
#wrapper {
    position: relative;
    min-height: 100%;

    &:after {
        content: "";
        display: table;
    }
}

// Navbar
.navbar-default {
    background-color: transparent;
    border: none;
    height: 70px;
}
.navbar-brand {
    height: 70px;
    padding: 0;
    font-size: 24px;
    line-height: 70px;
    font-weight: 100;
}
.navbar-nav > li > a {
    height: 70px;
    line-height: 70px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav > li.navbar-item > a {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
}
li.navbar-item + li.navbar-item {
    border-left: solid 1px #e1e8ed;
}

// Components

// Alerts
.alert {
    border: 0;
    border-radius: 0;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 30px;

    @each $type, $bg-color, $text-color in $colors {
        &.alert-#{$type} {
            background-color: $bg-color !important;
            color: $text-color !important;

            &.alert--icon {
                padding-left: 80px;
            }

            &.alert--block {
                .alert__icon {
                    background: darken($bg-color, 5%);
                    position: absolute;
                    z-index: 3;
                    width: 60px;
                    text-align: center;
                    top: 0;
                    left: 0;
                    bottom: 0;

                    i {
                        color: $text-color;
                        position: absolute;
                        z-index: 4;
                        font-size: $size-large;
                        right: auto;
                        bottom: auto;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    &.alert--icon {
        padding-left: 80px;
    }
}

// Panels
.panel {
    margin-bottom: 30px;
    border: solid 1px transparent;
    border-radius: 0;
    box-shadow: none;

    @each $type, $color, $text-color in $colors {
        &.panel-#{$type} {
            border-color: $color;

            .panel-heading {
                border-color: $color;
                background-color: $color;
                color: $text-color;
            }
        }
    }

    &.panel-group {
        .panel-heading {
            padding-left: 80px;

            .panel__icon {
                position: absolute;
                z-index: 3;
                width: 60px;
                text-align: center;
                top: 0;
                left: 0;
                bottom: 0;

                i {
                    position: absolute;
                    z-index: 4;
                    font-size: 18px;
                    color: #FFFFFF;
                    right: auto;
                    bottom: auto;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .panel__icon {
            background: rgba(0, 0, 0, 0.05);

            i {
                color: rgba(255, 255, 255, 0.8);
            }
        }

        .panel--components {
            .panel-body {
                > .list-group {
                    border: 0;
                    margin: 0;

                    .list-group-item {
                        border-radius: 0;
                    }
                }
            }
        }
    }

    .panel-heading {
        padding: 22px 20px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: relative;

        .panel-title {
            // font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
        }

        .panel__subtitle {
            margin: 0;
            padding: 0;
            line-height: 1.2;
            font-size: 11px;
            letter-spacing: 1.5px;
            max-width: 80%;
        }

        .panel__toolbar {
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -12.5px;

            .list-inline {
                margin-left: 0 !important;
                margin-right: -5 !important;
                margin: 0 !important;

                li > a {
                    color: rgba(0, 0, 0, 0.4);

                    &:hover {
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }

    .panel-body {
        padding: 20px;

        + .panel-body {
            border-top: solid 1px #e1e8ed;
        }
    }
}

.list-group-item.component {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    border: 0;
    padding: 22px 20px;
    line-height: 1.2;
    position: relative;
    padding-left: 80px;
}
.list-group-item.component.component--status-1 .component__icon span,
.list-group-item.component.component--status-1 .component__status {
    color: #87CA4F;
}
.list-group-item.component.component--status-2 .component__icon span,
.list-group-item.component.component--status-2 .component__status {
    color: #477DB3;
}
.list-group-item.component.component--status-3 .component__icon span,
.list-group-item.component.component--status-3 .component__status {
    color: #E4AB33;
}
.list-group-item.component.component--status-4 .component__icon span,
.list-group-item.component.component--status-4 .component__status {
    color: #D66561;
}
.list-group-item.component .component__icon span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}
.list-group-item.component + .list-group-item.component {
    border-top-color: #e1e8ed;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.list-group-item.component .component__icon {
    /*flex: 0;*/
}
.list-group-item.component .component__name {
    flex: 1;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}
.list-group-item.component .component__link {
    flex: 2;
}
.list-group-item.component .component__link a {
    color: rgba(0, 0, 0, 0.3);
}
.list-group-item.component .component__link a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.list-group-item.component .component__status {
    flex: 1;
    text-transform: uppercase;
    text-align: right;
}
