body {
    padding-top: 40px;
    font-family: $base-font-family;
    background-color: #F0F3F4;
    color: #5a5a5a;
    font-size: 1.4em;
    font-weight: $base-font-weight;
    -webkit-font-smoothing: antialiased;

    &.no-padding {
        padding-top: 0 !important;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: 20px;
    }

    img {
        box-sizing: border-box;

        &.emoji {
            height: 20px;
            width: 20px;
            vertical-align: middle;
            max-width: none;
        }
    }

    p, strong {
        color: $cachet-base-dark;
    }

    .tooltip {
        .tooltip-inner {
            padding: 8px 12px;
            font-size: 14px;
            word-wrap: break-word;
        }
    }

    .help-icon {
        cursor: help;
    }

    .text-success, .text-component-1 {
        color: $cachet_green;
    }

    .text-info, .text-component-2 {
        color: $cachet_blue;
    }

    .text-alert, .text-component-3 {
        color: $cachet_yellow;
    }

    .text-danger, .text-component-4 {
        color: $cachet_red;
    }

    .container {
        max-width: 960px;
    }

    .page-header {
        margin-top: 10px;
    }

    .app-banner {
        margin-bottom: 30px;
    }

    .about-app {
        margin-bottom: 40px;
        p {
            font-size: 1.2em;
        }
    }

    .alert {
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;

        i {
            margin-right: 5px;
        }
    }

    // Individual section styling.
    .section-timeline, .section-components, .section-metrics, .section-scheduled {
        margin-top: 40px;
    }

    .navbar-custom {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;

        a.navbar-brand {
            font-size: 30px;
            font-weight: 600;
        }

        .navbar-nav li a {
            color: $cachet-base-dark;
            font-size: 1.7rem;

            &:hover {
                background-color: transparent;
            }
        }
    }
}
