.section-timeline {

}

.section-timeline__header {
    padding: 15px;
    background-color: #E7E7E7;
    color: #ABABAB !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: {
        top: 0.8em;
        bottom: 0.8em;
    }
    cursor: pointer;
    -webkit-touch-callout: none;
    user-select: none;
}
