body {
  color: #333333; }

.alert.alert-success {
  background-color: #8DCD8D;
  border-color: #4cae4c;
  color: white; }
.alert.alert-info {
  background: #8CD3E8;
  border-color: #46b8da;
  color: #FFF; }

.list-group {
  margin-bottom: 20px;
  padding-left: 0; }
  .list-group a.list-group-item {
    color: #030303; }
  .list-group .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #95a5a6; }
    .list-group .list-group-item h4.list-group-item-heading {
      color: inherit;
      margin-top: 0px;
      margin-bottom: 5px; }
    .list-group .list-group-item p {
      margin-bottom: 0;
      line-height: 1.3; }
