@import "palette";

$ionicons-font-path: "../../../fonts" !default;
@import "./vendor/bower_components/ionicons/scss/ionicons";

@import "modules/bootstrap";

html {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin-bottom: 60px;
    padding-bottom: 60px;
}

@import "helpers";

// Module overrides
@import "modules/tabs";
@import "modules/forms";
@import "modules/well";
@import "modules/alerts";
@import "modules/panels";
@import "modules/btns";
@import "modules/pager";

// Styles for partials
@import "partials/base";
@import "partials/wrapper";
@import "partials/navbar";
@import "partials/sidebar";
@import "partials/content";
@import "partials/modals";

// Styles for specific page
@import "pages/login";
@import "pages/setup";
@import "pages/dashboard";

// Styles for plugins
@import "plugins/messenger";
@import "plugins/animate";
@import "plugins/bootstrap-datetimepicker/bootstrap-datetimepicker";
@import "plugins/password-strength";
@import "plugins/sortable";

// Status Page will need to override certain styles.
@import "status-page";

// Error pages can have their own overrides.
@import "errors";
