@import "vendors";

// Styles for plugins
@import "plugins/sweetalert";

// Status Page will need to override certain styles.
@import "status-page/status-page";
@import "status-page/components";
@import "status-page/incidents";
@import "status-page/footer";
