@import "palette";

$ionicons-font-path: "../../../fonts" !default;
@import "./bower_components/ionicons/scss/ionicons";

@import "modules/bootstrap";

html, body {
    height: 100%;
}

@import "helpers";

// Module overrides
@import "modules/tabs";
@import "modules/forms";
@import "modules/well";
@import "modules/alerts";

// Styles for partials
@import "partials/base";
@import "partials/wrapper";
@import "partials/navbar";
@import "partials/sidebar";
@import "partials/content";
@import "partials/modals";

// Styles for specific page
@import "pages/login";
@import "pages/setup";
@import "pages/dashboard";

// Styles for plugins
@import "plugins/messenger";
@import "plugins/animate";
@import "plugins/bootstrap-datetimepicker/bootstrap-datetimepicker";

// Status Page will need to override certain styles.
@import "status-page";

// Error pages can have their own overrides.
@import "errors";
