.alert {
    border-radius: 4px;
    background: $cachet_yellow;

    &.alert-success {
        background-color: $cachet_green;
        color: white;

        a {
            color: white;
            font-weight: bold;
        }
    }

    &.alert-info {
        background: $cachet_blue;
        color: white;

        a {
            color: white;
            font-weight: bold;
        }
    }

    &.alert-danger {
        background: $cachet_red;
        color: white;

        a {
            color: white;
            font-weight: bold;
        }
    }
}
