.alert {
    border-radius: 4px;
    background: $cachet-yellow;
    border: solid 2px $cachet-dark-yellow;

    &.alert-success {
        background-color: $cachet-green;
        border: solid 2px $cachet-dark-green;
        color: white;

        a {
            color: white;
            font-weight: bold;
        }
    }

    &.alert-info {
        background: $cachet-blue;
        border: solid 2px $cachet-dark-blue;
        color: white;

        a {
            color: white;
            font-weight: bold;
        }
    }

    &.alert-danger {
        background: $cachet-red;
        border: solid 2px $cachet-dark-red;
        color: white;

        a {
            color: white;
            font-weight: bold;
        }
    }
}
