.markdown-body {
    p {
        font-size: 1.1em !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    a {
        color: $cachet-base-dark;
    }
}
