body.dashboard {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    letter-spacing: $base-letter-spacing;
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    -webkit-font-smoothing: antialiased;
    line-height: $base-line-height;
}
