$base-background-color: #f5f5f5;

$base-font-family: "Avenir Next W01", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-weight: 300;
$base-letter-spacing: 1px;
$base-font-size: 16px;

$base-link-color: #ffffff;
$base-link-hover-color: #e9e9e9;

$header-background-color: #00695C;
$header-border-color: 1px solid darken(#00695C, 10%);

$sidebar-transition-speed: .2s;
$sidebar-background-color: #37474f;
$sidebar-border-color: 1px solid rgba(255, 255, 255, .1);
$sidebar-text-color: #d7dadc;
$sidebar-text-active-color: #ffffff;
$sidebar-normal-width: 250px;
$sidebar-phone-width: 75%;

$screen-xs-max: "(max-width: 549px)";
$screen-sm-min: "(min-width: 550px)";
$screen-sm-max: "(max-width: 991px)";
$screen-md-min: "(min-width: 992px)";
$screen-md-max: "(max-width: 1199px)";
$screen-lg-min: "(min-width: 1200px)";

body.dashboard {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	letter-spacing: $base-letter-spacing;
	background: $base-background-color;
}
