body.dashboard {
	.content {
		padding-top: 69px;
		position: relative;
		display: table-cell;
		vertical-align: top;
		width: 100%;
		.row {
			margin: 10px 0;
		}
		.header {
			background: #ffffff;
			padding: 14px;
			width: 100%;
			height: 50px;
			font-size: 18px;
			i {
				padding-right: 10px;
			}
			input, button, .btn {
				position: relative;
				top: -4px;
			}
			input {
				width: 20%;
			}
		}
	}
}
