body.dashboard {
	.sidebar {
		display: table-cell;
		vertical-align: top;
		width: $sidebar-normal-width;
		background: $sidebar-background-color;
        @include box-shadow($sidebar-border-shadow);
		position: relative;
		z-index: 999;

		.sidebar-inner {
			position: relative;

			.profile {
				padding: 20px;
                margin-bottom: 0;
                .avatar {
                    width: 70px;
                    img {
                        border-radius: 50%;
                        width: 60px;
                    }
                }
                .profile {
                    &.username {
                        word-break: break-all;
                        color: $sidebar-text-color;
    				}
                }
			}
            .quick-add-incident {
                @extend text-center;
                padding: 10px;
            }
			ul {
				clear: both;
				margin: 0;
				padding: 0;
				list-style: none;

				li {
                    font-size: $sidebar-text-size;
					&:last-child {
						border-bottom: $sidebar-border-color;
					}
					&.active {
						background: lighten($sidebar-background-color, 10%);
						a {
							color: $sidebar-text-active-color;
						}
					}
					a {
						display: block;
						padding: 15px;
						border-top: $sidebar-border-color;
						color: $sidebar-text-color;
						i {
                            font-size: 18px;
                            min-width: 17px;
                            text-align: center;
                            position: relative;
                            top: 1px;
						}
						&:hover {
							text-decoration: none;
						}
					}

					&.sub-nav-item {
						a {
							padding-left: 40px;
						}
					}
				}
			}
		}
        .bottom-menu-sidebar {
            position: fixed;
            bottom: 0;
            width: 230px;
            z-index: 999;
            ul > li {
                float: left;
                display: block;
                width: 33.333%;
                border-right: 1px solid #ddd;
                border-top: 1px solid #ddd;
                a {
                    display: block;
                    position: relative;
                    text-align: center;
                    padding: 6px 0;
                    background: #fff;
                }
            }
        }
	}
}
