body.dashboard {
	.sidebar {
		display: table-cell;
		vertical-align: top;
		width: $sidebar-normal-width;
		background: $sidebar-background-color;
		position: relative;
		z-index: 100;

		.sidebar-inner {
			position: relative;

			margin-top: 69px;

			.profile {
				padding: 20px;
				margin-bottom: 20px;
				.avatar {
					width: 70px;
					img {
						border-radius: 50%;
						width: 60px;
					}
				}
				.profile {
					color: $sidebar-text-color;
				}
			}
			ul {
				clear: both;
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					font-size: 0.8em;
					&:last-child {
						border-bottom: $sidebar-border-color;
					}
					&.active {
						background: lighten($sidebar-background-color, 10%);
						a {
							color: $sidebar-text-active-color;
						}
					}
					a {
						display: block;
						padding: 15px;
						border-top: $sidebar-border-color;
						color: $sidebar-text-color;
						i {
							padding-right: 10px;
						}
						&:hover {
							text-decoration: none;
						}
					}

					&.sub-nav-item {
						a {
							padding-left: 40px;
						}
					}
				}
			}
		}
	}
}
