$base-background-color: #f1f1f1;

$base-font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-weight: 300;
$base-letter-spacing: 0.08em;
$base-font-size: 16px;

$base-link-color: #ffffff;
$base-link-hover-color: #e9e9e9;

$header-background-color: lighten(#00695C, 10%);
$header-border-color: 1px solid darken($header-background-color, 10%);

$sidebar-transition-speed: .2s;
$sidebar-background-color: #2c3e50;
$sidebar-border-color: 1px solid rgba(255, 255, 255, .1);
$sidebar-text-color: #d7dadc;
$sidebar-text-active-color: #ffffff;
$sidebar-normal-width: 250px;
$sidebar-phone-width: 75%;
$sidebar-active-color: #00695C;

$screen-xs-max: "(max-width: 549px)";
$screen-sm-min: "(min-width: 550px)";
$screen-sm-max: "(max-width: 991px)";
$screen-md-min: "(min-width: 992px)";
$screen-md-max: "(max-width: 1199px)";
$screen-lg-min: "(min-width: 1200px)";
