.login {
    padding-top: 90px;
}

.login .logo {
    display: block;
    margin: 0 auto 30px;
}

.login legend {
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 30px 0;
}
