body {
	color: #333333;
	font-size: 1.4em;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.alert {
	&.alert-success {
		background-color: #8DCD8D;
		border-color: #4cae4c;
		color: white;
	}

	&.alert-info {
		background: #8CD3E8;
		border-color: #46b8da;
		color: #FFF;
	}

	&.alert-danger {
		background: #D91E18;
		border-color: #CF000F;
		color: #FFF;
	}
}

.list-group {
	margin-bottom: 20px;
	padding-left: 0;

	.list-group-item {
		padding: 10px 15px;
		background-color: #ffffff;
		border: 1px solid #BDC3C7;

		h1, h2, h3, h4 {
			&.list-group-item-heading {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}

		p, time {
			margin-bottom: 0;
			line-height: 1.3em;
		}

		time {
			color: #6C7A89;
			font-weight: bold;
		}
	}
}
